h1 {
    text-align: center;
}

label {
    text-align: left;
}
.container {
    text-align: center;
}
.table {
border-spacing: 0;
margin: 1rem;
background-color: #f5f6f7;
}


.table__row:nth-child(even) {
    background-color: #e5e5e5;
}


.table__header {
    text-align: left;
}

.table__cell {
    padding: 8px;
}
.main{
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
    }
