{% macro input(name, value='', type='text') %}
    <input type="text" name="matricule" value="{{ video_reader() }}" />   
{% endmacro %}


{% macro matricule(name='matricule', value='Matricule', type='text', action="/auxsan/AjouterBlesse") %}
<script type="text/javascript" src="{{ url_for('static', filename =  'js/qrmatricule.js') }}"></script>
<style>
  .result{
    background-color: green;
    color:#fff;
    padding:20px;
  }
  .row{
    display:flex;
  }
  .form-group {
    text-align: left;
}
.container {
    text-align: center;
}

.reader {
        position: relative;
        max-width: 800px; 
        width: 100%; 
        overflow: scroll;
        }
</style>
<div class="row justify-content-center">
  <div class="col-md-8">
    <div style="reader" id="reader"></div>
  </div>
</div>

<script type="text/javascript">
function onScanSuccess(qrCodeMessage) {
    document.getElementById("matricule").value=qrCodeMessage
    html5QrcodeScanner.clear();
}
function onScanError(errorMessage) {
  //handle scan error
}
var html5QrcodeScanner = new Html5QrcodeScanner(
    "reader", { fps: 10, qrbox: 250 });
html5QrcodeScanner.render(onScanSuccess, onScanError);
</script>
{% endmacro %}
